@import url("./font.scss");

html, body {
  font-family: 'NotoSans-Regular';
  color: #000;
}

html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, span, button, input, select, div, a {
  margin: 0;
  padding: 0;
}

input, button {
  min-width: 300px;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type='submit'], button {
  margin-bottom: 0;
  padding: 10px 10px;
}