@import url("./font.scss");

html, body {
  font-family: 'NotoSans-Regular';
  color: #000;
}

html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, span, button, input, select, div, a {
  margin: 0;
  padding: 0;
}

input, button {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  // background: #ffffff;
}

input[type='submit'], button {
  margin-bottom: 0;
  padding: 10px 10px;
  font-weight: bold;
}

.page-tatle {
  font-size: 28px;
  margin-bottom: 20px;
  img {
    width: 120px;
  }
}